*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 1);
    
}
.background{
    
    background-image: url('fastfood.png');
    filter: blur(8px);
    -webkit-filter: blur(8px);
    opacity: 0.2;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  
}
.login-box{
    
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70vw;
    height: 80vh;

    transform: translate(-50%, -50%);
    border: 2px whitesmoke solid;
    display: flex;
    justify-content: space-evenly;
   
    color: white;
    border-radius: 30px;
    background-color: rgba(0,0,0,0.4);
    
}
.logo {
    position: relative;

    bottom: 10px;
    right:70px;
   
}
.logo img{
    width: 12vw;
    height: 25vh;
    
}
.beverage {
    
 position: relative;
   bottom: 30px;
   right: 50px;
}
.beverage img{
    width: 35vw;
    height: 50vh;
}


.login-form{
    width: 21vw;
    height: 58vh;
    padding: 35px;
    margin-top: 7%;
    

    
    background-color: rgb(30, 28, 28);
    border-radius: 20px;
    

}

.login-form-box h2{
    text-align: center;
    
    font-weight: bold;
    /* color: white; */
}
.login-form-box input{
    width: 100%;
    padding: 10px;
    margin: 1px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    margin-top: 6px;
}
.login-form-box label{
    font-size: 12px;
    font-weight: bold;

}
.forgot-password {
    display: flex;
    justify-content: end;
    margin: 5px 0;
}
.forgot-password span a{
    text-decoration: none;
    color:white;
    font-size: 10px;
    font-weight: bold;
}
.login-form-box button{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    background-color: rgb(201, 60, 21);
    color: white;
    cursor: pointer;
    outline: none;
    font-size: 15px;
    font-weight: bold;
}
.or-continue-with{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0px;
    font-size: 13px;
}
.social-media{
    display: flex;
    justify-content: space-between;
     
}
.social-media button{
    
    margin: 2px ;
    padding: 5px 30px;
    border-radius: 50px;
    border: none;
    background-color: whitesmoke;
    cursor: pointer;
    font-size: 20px;
}
.register{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 ;
    font-size: 10px;
}
.register a{
    margin: 5px;
    text-decoration: none;
    color: white;
    
}

@media screen and (max-width: 1200px){
   
   
}
    
