*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(0,0, 0,0.1);
    background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9));
    
}
.background{
    
    background-image: url('fastfood.png');
    filter: blur(8px);
    -webkit-filter: blur(8px);

  

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  
}
.login-box{
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px whitesmoke solid;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    border-radius: 30px;
    background-color: rgba(0,0,0,0.8);
    
}


.login-form{
    
    padding: 20px;
    background-color: rgb(30, 28, 28);
    border-radius: 20px;
}
.login-form-box h1{
    text-align: center;
    margin-bottom: 20px;
    /* color: white; */
}
.login-form-box input{
    width: 100%;
    padding: 10px;
    margin: 1px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}
.forgot-password {
    display: flex;
    justify-content: end;
}
.forgot-password span a{
    text-decoration: none;
    color:white;
    
}
.login-form-box button{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    background-color: chocolate;
    color: white;
    cursor: pointer;
    outline: none;
    font-size: 20px;
}
.or-continue-with{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0px;
}
.social-media{
    display: flex;
    justify-content: space-evenly;
     
}
.social-media button{
    margin: 10px ;
    padding: 10px;
    border-radius: 50px;
    border: none;
    width: 80%;
    background-color: whitesmoke;
    cursor: pointer;
    outline: none;
    font-size: 20px;
}
.register{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 ;
}
.register a{
    margin: 10px;
    text-decoration: none;
    color: white;
    
}